// Colors

$color__bg-body: #fff;
$color__bg-screen: #f1f1f1;
$color__bg-buton: #eee;
$color__bg-pre: #eee;
$color__bg-ins: #ffe;

$color__text-screen: #333;
$color__text-input: #666;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #444;

// Fonts

$font__main: 'Merriweather', serif;
$font__headings: 'Roboto', sans-serif;
